@baseColor:#FFAB91;
html,body{
  height: 100%;
  width: 100%;
}
#leftMeun{
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align:justify;
  margin-top: 0px;
  margin-bottom: -20px;
  padding: 10px 0px;
  z-index: 1;
  .cell{
    width: 96px;
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    button{
      margin: 0 13px;
    }
    p{
      margin: 8px auto;
    }
  }
}