body {
  background-color: white;
}
#login {
  padding: 0;
  margin: 0 auto;
  min-height: 640px;
  height: 100%;
  width: 100%;
  background: url(../images/djbg.png) no-repeat;
  background-position: top left;
  background-size: 100% auto;
}
#login #login-box {
  width: 650px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}
#login .el-card.box-card {
  background: transparent;
  padding-top: 0px;
}
#login .el-card {
  border: none;
}
#login .el-button--primary {
  color: #fff;
  background-color: rgba(255, 43, 36, 0.5);
  border-color: #f89d67;
  border: none;
}
#login p {
  font-size: 30px;
  color: #FFAB91;
  position: absolute;
  top: 25%;
  left: 45%;
}
#login #query_entry {
  position: fixed;
  right: 5%;
  top: 30px;
}
#login #query_entry .el-button {
  margin: 0 10px;
  background-color: #3399cc;
}
#login .el-form-item:last-child {
  margin-bottom: 0;
}
#login .box-card {
  padding-top: 10px;
}
#login #entry {
  width: 100%;
}
